<div class="row">
  <div class="col-md-2">
    <div  class="card-container">
      <div class='wrapper' (click)="train = true; predict = false; currentTitle= 'ENTRENA AL MODELO'" (mousemove)='onMouseMove($event)' (mouseleave)='onMouseLeave($event)'>
        <div class="card" #card>
          <div class="card-content">
            <p class="info">ENTRENAR AL MODELO</p>
          </div>
        </div>
      </div>
    </div>
    <div  class="card-container">
      <div class='wrapper' (click)="predict = true; train = false; currentTitle= 'ETIQUETA UN TWEET'" (mousemove)='onMouseMove2($event)' (mouseleave)='onMouseLeave($event)'>
        <div class="card" #card2>
          <div class="card-content">
            <p class="info">ETIQUETAR TWEET</p>
          </div>
        </div>
      </div>
    </div>
    <div  class="card-container">
      <div class='wrapper' (click)="opengit(); predict = false; train = false; currentTitle = 'INFORMACIÓN'" (mousemove)='onMouseMove3($event)' (mouseleave)='onMouseLeave($event)'>
        <div class="card" #card3>
          <div class="card-content">
            <p class="info">GITHUB</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-10 info-row">
    <div style="height: 100%; vertical-align: middle;">
      <span class="title">{{currentTitle}}</span>
      <app-train *ngIf=train></app-train>
      <app-tweet *ngIf=predict></app-tweet>
    </div>
  </div>
</div>