<div class="container">
    <form [formGroup]="formModelo" >
      <div class="form-group">
        <label for="email">Modelo</label>
        <select formControlName="model" class="browser-default custom-select" #model>
            <option selected value="1">GaussianNB</option>
            <option value="2">MultinomialNB</option>
            <option value="3">BernoulliNB</option>
            <option value="4">ComplementNB</option>
          </select>
        </div>
        <div class="form-group">
            <label for="pwd">Tamaño conjunto de prueba (0.1 - 0.9):</label>
            <input type="number" formControlName="testSize" class="form-control" id="testSize" placeholder="0.1 - 0.9" name="testSize" #testSize min="0.1" max="0.9" step="0.05">
          </div>
          <div class="form-group">
            <label for="pwd">Topicos MAX 10 (separados por comas a,b,c):</label>
            <input type="text" class="form-control" [(ngModel)]="topicoString" [ngModelOptions]="{standalone: true}" placeholder="vacío para usar el dataset precargado...">
          </div>
      <div class="form-group">
        <label for="pwd">Contraseña:</label>
        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Ingresa contraseña" name="password" #password>
      </div>
      <button (click)="enviarModelo()" class="btn btn-success">Entrenar</button>
    </form>
    <span class="title">Resultados del entrenamiento</span>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- topic Column -->
        <ng-container matColumnDef="topic">
          <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"> {{element.topic}} </td>
        </ng-container>
      
        <!-- precision Column -->
        <ng-container matColumnDef="precision">
          <th mat-header-cell *matHeaderCellDef> Precision </th>
          <td mat-cell *matCellDef="let element"> {{element.precision}} </td>
        </ng-container>
      
        <!-- recall Column -->
        <ng-container matColumnDef="recall">
          <th mat-header-cell *matHeaderCellDef> Recall </th>
          <td mat-cell *matCellDef="let element"> {{element.recall}} </td>
        </ng-container>
      
        <!-- f1_score Column -->
        <ng-container matColumnDef="f1_score">
          <th mat-header-cell *matHeaderCellDef> f1-score </th>
          <td mat-cell *matCellDef="let element"> {{element.f1_score}} </td>
        </ng-container>

        <!-- support Column -->
        <ng-container matColumnDef="support">
            <th mat-header-cell *matHeaderCellDef> support </th>
            <td mat-cell *matCellDef="let element"> {{element.support}} </td>
          </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </div>